$yellow-light: rgb(255, 185, 17);
$yellow-dark: rgb(223, 130, 1);
$red: rgb(156, 22, 29);
$black: rgb(0, 0, 0);
$purple: rgb(31, 2, 41);
@font-face {
  font-family: "audiowide";
  src: url(../fonts/Audiowide-Regular.ttf);
}
@font-face {
  font-family: "Cera Pro";
  src: url(../fonts/Cera_Pro.otf);
}
@font-face {
  font-family: "Neue";
  src: url(../fonts/Neue-Einstellung-Bold.ttf);
}
@font-face {
  font-family: "Avenir";
  src: url(../fonts/AvenirLTStd-Book.otf);
}
@font-face {
  font-family: "vulture";
  src: url(../fonts/Taken-by-Vultures-Demo.otf);
}
@keyframes mitop {
  0% {
    opacity: 0;
    transform: translatey(-100px);
  }

  80% {
    transform: translateX(0px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes mibottom {
  0% {
    opacity: 0;
    transform: translatey(-100px);
  }

  80% {
    transform: translateX(0px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes mileft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes mileft2 {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(0px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes miright {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes mibottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
body {
  padding: 10vh;
  padding-top: 5vh;
  margin: 0%;
  background-image: linear-gradient(
    to right bottom,
    rgba(255, 185, 17, 0.9),
    rgba(223, 130, 1, 1)
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.heading {
  padding: 0;
  margin: 0;
}
.header {
  height: 80vh;
  background-color: white;
  border-radius: 20px;
  width: 100%;
  display: flex;

  &-container {
    margin-top: 3vh;
  }

  &-no1 {
    width: 50%;
    margin: 0;
    padding: 0;
  }

  &-first {
    font-family: "audiowide";
    font-size: 15vh;
    padding: 0vh;
    padding-left: 10vh;
    margin-bottom: 7px;
    color: rgb(0, 0, 0);
    letter-spacing: 5px;
  }
  &-line {
    height: 0.8vh;
    background: $red;
    border-radius: 10px;
    width: 71%;
    margin-left: 10vh;
  }
  &-second {
    padding-top: 3vh;
    font-family: "Cera Pro";
    font-size: 7.4vh;
    color: $yellow-dark;
    margin-left: 10vh;
    &-span {
      color: $yellow-light;
      padding-left: 4vh;
    }
    &-line {
      font-family: "Cera Pro";
      font-size: 7.4vh;
      color: $yellow-dark;
      margin-left: 10vh;
    }
  }
  &-container-sec {
    margin-top: 6vh;
  }
  &-no2 {
    width: 50%;
    display: inline;
    &-nav {
      align-self: center;
      display: flex;
      a:link {
        text-decoration: none;
        color: $black;
        font-family: "Neue";
        font-size: 5vh;
        float: right;
      }
      & a:visited {
        color: $black;
      }
      & a:hover {
        color: $red;
        transition: all 1s;
      }
    }
    &-item {
      margin: auto;
    }
    &-items {
      margin: auto;
      padding-right: 5vh;
    }
    &-img {
      padding-top: 5vh;
      padding-left: 15vh;
      margin: auto;
      &-item {
        width: 70%;
      }
    }
  }
}
.about {
  background-color: white;
  border-radius: 20px;
  width: 100%;
  margin-top: 5vh;
  color: $black;
  &-header {
    width: 100%;
    padding: 8vh;
    padding-left: 10vh;
    padding-bottom: 1vh;
    &-text {
      color: $black;
      font-size: 8vh;
      font-weight: 600;
      font-family: "Cera Pro";
      letter-spacing: 1px;
    }
  }
  &-line {
    width: 20vh;
    height: 2.5vh;
    background-image: linear-gradient(
      to right bottom,
      rgba(255, 185, 17, 0.9),
      rgba(223, 130, 1, 1)
    );
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    border-radius: 3px;
    margin-left: 10vh;
  }
  &_body {
    width: 100%;
    margin-top: 6vh;
    &_word {
      width: 100%;
      display: flex;
      color: $black;
    }
    &-col-first {
      width: 100%;
      padding-left: 10vh;
      &_paragraph {
        font-family: "Avenir";
        width: 60%;
        font-weight: bold;
        font-size: 3vh;
      }
    }
    &-header {
      margin-top: 6vh;
      padding-left: 10vh;
      &-text {
        color: $black;
        font-family: "Cera Pro";
        font-size: 5vh;
      }
    }
    &-lists {
      display: flex;
      width: 100%;
      padding-left: 10vh;
      margin-top: 2vh;
      margin-bottom: 5vh;
      &-one {
        color: $black;
        width: 50%;
        &-pod {
          width: 75%;
          border: 3px solid $red;
          border-radius: 10px;
          padding: 5px;
          padding-bottom: 1px;
          margin-top: 5vh;
          margin-bottom: 5vh;
          &-label {
            font-size: 5vh;
            font-family: "Cera Pro";
            padding-left: 3vh;
            margin: 0;
            &-span {
              float: right;
              padding-right: 3vh;
            }
          }
          &-img {
            padding-left: 3vh;
            padding-bottom: 2vh;
            width: 94%;
          }
        }
      }
      &-two {
        color: $black;
        width: 50%;
      }
    }
  }
}
.services {
  background-color: white;
  border-radius: 20px;
  width: 100%;
  margin-top: 5vh;
  &-header {
    width: 100%;
    padding: 8vh;
    padding-left: 10vh;
    padding-bottom: 1vh;
    &-text {
      color: $black;
      font-size: 8vh;
      font-weight: 600;
      font-family: "Cera Pro";
      letter-spacing: 1px;
    }
  }
  &-line {
    width: 20vh;
    height: 2.5vh;
    background-image: linear-gradient(
      to right bottom,
      rgba(255, 185, 17, 0.9),
      rgba(223, 130, 1, 1)
    );
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    border-radius: 3px;
    margin-left: 10vh;
  }
  &-intro {
    width: 40%;
    margin-left: 10vh;
    font-family: "Avenir";
    font-weight: bold;
    font-size: 3vh;
    padding-top: 5vh;
    color: $black;
  }
  &_word {
    width: 100%;
    display: flex;
    color: $black;
  }
  &-line-two {
    width: 8vh;
    height: 0.9vh;
    padding-top: 0.5vh;
    background-image: linear-gradient(
      to right bottom,
      rgba(255, 185, 17, 0.9),
      rgba(223, 130, 1, 1)
    );
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    border-radius: 1.2px;
  }
  &-col-first {
    width: 100%;
    padding-left: 10vh;
    &-header {
      width: 100%;
      margin: 0;
      &-text {
        margin: 0;
        color: $purple;
        font-size: 5.5vh;
        font-weight: 600;
        font-family: "Cera Pro";
        letter-spacing: 1px;
      }
    }
    &_paragraph {
      font-family: "Avenir";
      color: $black;
      width: 80%;
      font-weight: bold;
      font-size: 3vh;
      padding-top: 4vh;
      padding-bottom: 3vh;
    }
  }
}
.Contact {
  background-color: white;
  border-radius: 20px;
  width: 100%;
  margin-top: 5vh;
  &-header {
    width: 100%;
    padding: 8vh;
    padding-left: 10vh;
    padding-bottom: 1vh;
    &-text {
      color: $black;
      font-size: 8vh;
      font-weight: 600;
      font-family: "Cera Pro";
      letter-spacing: 1px;
    }
  }
  &-line {
    width: 20vh;
    height: 2.5vh;
    background-image: linear-gradient(
      to right bottom,
      rgba(255, 185, 17, 0.9),
      rgba(223, 130, 1, 1)
    );
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    border-radius: 3px;
    margin-left: 10vh;
  }
  &-intro {
    width: 40%;
    margin-left: 10vh;
    font-family: "Avenir";
    font-weight: bold;
    font-size: 3vh;
    padding-top: 5vh;
    color: $black;
  }
  &-col {
    display: flex;
    width: 100%;
  }
  &-col-first {
    width: 100%;
    margin-left: 10vh;
    padding-top: 5vh;
    &-header {
      width: 100%;
      margin: 0;
      &-text {
        margin: 0;
        color: $black;
        font-size: 5.5vh;
        font-weight: 600;
        font-family: "Cera Pro";
        letter-spacing: 1px;
      }
    }
    &_paragraph {
      font-family: "Avenir";
      color: $black;
      width: 80%;
      font-weight: bold;
      font-size: 3vh;
      padding-top: 4vh;
      padding-bottom: 3vh;
    }
  }
  &-line-two {
    width: 10vh;
    height: 0.9vh;
    margin-top: 1vh;
    background-image: linear-gradient(
      to right bottom,
      rgba(255, 185, 17, 0.9),
      rgba(223, 130, 1, 1)
    );
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    border-radius: 1.2px;
  }
  &-number {
    width: 33.3%;
    padding-top: 2vh;
    &-items {
      margin: 0;
      width: 200%;
      color: $black;
      font-family: "Avenir";
      font-weight: 700;
      padding-top: 1vh;
    }
  }
  &-mail {
    width: 33.3%;
    padding-top: 2vh;
    padding-bottom: 4vh;
    &-items {
      margin: 0;
      width: 100%;
      color: $black;
      font-family: "Avenir";
      font-weight: 700;
      padding-top: 1vh;
    }
  }
  &-social {
    display: flex;
    width: 33.3%;
    &-items {
      width: 10vh;
      padding-right: 3vh;
      padding-top: 1.5vh;
      padding-bottom: 1.5vh;
    }
  }
}
.thanks {
  width: 100%;
  padding: 5vh;
  .thanks-text {
    color: $black;
    font-family: "vulture";
    font-weight: 500;
    font-size: 12vh;
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  body {
    padding: 2vh;
    padding-top: 1vh;
    margin: 0%;
    background: white;
  }
  .header {
    background-color: white;
    border-radius: 20px;
    width: 100%;
    display: inline;
    &-container {
      margin-top: 3vh;
    }
    &-first {
      font-size: 9.5vh;
      padding-left: 3vh;
    }
    &-line {
      width: 140%;
      margin-left: 3vh;
    }
    &-second {
      padding-top: 1.5vh;
      font-size: 4vh;
      color: $yellow-dark;
      margin-left: 3vh;
      width: 180%;
      &-span {
        color: $yellow-light;
        padding-left: 1.5vh;
      }
      &-line {
        font-size: 4vh;
        margin-left: 3vh;
        width: 150%;
      }
    }
    &-container-sec {
      margin-top: 0vh;
    }
    &-no2 {
      width: 0%;
      display: none;
    }
  }
  .about {
    width: 100%;
    margin-top: 1vh;
    &-header {
      width: 100%;
      padding-top: 4vh;
      padding-left: 3vh;
      padding-bottom: 0;
      &-text {
        font-size: 4vh;
      }
    }
    &-line {
      width: 10vh;
      height: 1vh;
      border-radius: 2px;
      margin: 0;
      margin-left: 3vh;
    }
    &_body {
      margin-top: 6vh;
      &_word {
        display: inline;
      }
      &-col-first {
        width: 100%;
        padding-left: 3vh;
        &_paragraph {
          width: 100%;
          padding-bottom: 3vh;
        }
      }
      &-header {
        margin-top: 0;
        padding-left: 3vh;
        &-text {
          font-size: 3vh;
        }
      }
      &-lists {
        display: inline;
        padding-left: 3vh;
        margin-top: 2vh;
        margin-bottom: 0vh;
        &-one {
          width: 125%;
        }
        &-two {
          color: $black;
          width: 125%;
        }
      }
    }
  }
  .services {
    border-radius: 0px;
    &-header {
      width: 100%;
      padding: 0;
      padding-left: 1vh;
      padding-bottom: 1 vh;
      &-text {
        font-size: 6vh;
      }
    }
    &-line {
      width: 10vh;
      height: 1.5vh;
      margin-left: 1vh;
    }
    &-intro {
      width: 80%;
      margin-left: 1vh;
      margin-bottom: 5vh;
    }
    &_word {
      display: inline;
    }
    &-line-two {
      width: 8vh;
      height: 0.9vh;
      padding-top: 0.5vh;
      border-radius: 1px;
    }
    &-col-first {
      width: 100%;
      padding-left: 1vh;
      &-header {
        width: 100%;
        margin: 0;
      }
    }
  }
  .Contact {
    border-radius: 0px;
    margin-top: 1vh;
    &-header {
      width: 100%;
      padding: 0vh;
      padding-left: 1vh;
      padding-bottom: 1vh;
    }
    &-line {
      width: 20vh;
      height: 2.5vh;
      border-radius: 3px;
      margin-left: 1vh;
    }
    &-intro {
      width: 80%;
      margin-left: 1vh;
    }
    &-col {
      display: inline;
      width: 100%;
    }
    &-col-first {
      margin-left: 1vh;
      padding-top: 2vh;
      &-header {
        &-text {
          margin: 0;
        }
      }
    }
  }
}
